@use "sass:map";

$breakpoints: (
  sp: "screen and (max-width: 600px)",
  tab: "screen and (min-width: 600px)",
  pc: "screen and (min-width: 1025px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

$main-color: #0485d2;
$font-size-base: 16px;
$color-base: #333;

body {
  font-family: "Josefin Sans", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-size: 16px;
  color: #333;
  font-feature-settings: "palt";
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*--------------------------------
レイアウト共通
---------------------------------*/

.container {
  max-width: 1170px;
  margin-inline: auto;
  padding-inline: 20px;
}

.section {
  padding-block: 20px;
  @include mq(pc) {
    padding-block: 30px;
  }
}

.section__inner {
  padding-block: 40px;
  background-color: #0485d2;
}

.section__heading {
  margin-bottom: 30px;
}

.section-border-top {
  transform: translateY(1px);
}

.section-border-bottom {
  transform: translateY(-1px);
}

/*------------------------*/

.heading-primary {
  font-size: 40px;
  line-height: 1;
  color: #fff;

  &--type2 {
    color: #141414;
  }

  @include mq(pc) {
    font-size: 64px;
  }
}

.heading-primary__subtitle {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #fff;

  &--type2 {
    color: #333;
  }

  @include mq(pc) {
    font-size: 20px;
    margin-top: 10px;
  }
}

/*--------------------------------
 スクロールエフェクト
---------------------------------*/

.fadeUpEffect {
  opacity: 0;
}

.fadeUp {
  opacity: 0;
  animation-name: fadeUp;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*--------------------------------
 ボタン共通
---------------------------------*/

.btn {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.6px;
  color: #fff;
  text-align: center;
  padding: 18px 10px;
  transition: all 0.3s;
  border-radius: 50px;
  background-color: #0485d2;

  @include mq(pc) {
    font-size: 20px;
    padding: 30px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.btn--center {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  color: $main-color;
  background-color: #fff;

  &__type2 {
    color: #fff;
    background-color: $main-color;

    @include mq(pc) {
      max-width: 360px;
    }
  }
}

/*--------------------------------
ヘッダー
---------------------------------*/

.header {
  display: flex;
  position: fixed;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  transition: 0.3s;

  @include mq(pc) {
    height: 80px;
    padding: 0 35px;
  }
}

.header__logo {
  width: 100px;

  @include mq(pc) {
    width: 150px;
  }
}

.header__cta {
  display: none;
}

.header__cta-btn {
  font-size: 12px;
  padding: 12px 15px;

  @include mq(tab) {
    width: 200px;
  }

  @include mq(pc) {
    width: 250px;
    font-size: 15px;
    padding: 15px;
  }
}

.header--active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 5%);

  .header__cta {
    display: block;
  }
}

/*--------------------------------
 メインビジュアル
---------------------------------*/

.mv {
  position: relative;
  height: 410px;
  margin-inline: auto;
  padding-top: 150px;

  padding-left: 20px;
  @include mq(tab) {
    height: 500px;
    padding-left: 5%;
  }

  @include mq(pc) {
    max-width: 1800px;
    height: 680px;
    padding-top: 220px;
    padding-left: 12%;
  }
}

.mv__title {
  font-size: min(11vw, 90px);
  font-style: italic;
  line-height: 1;
  margin-bottom: 10px;

  @include mq(pc) {
    margin-bottom: 20px;
  }
}

.mv__subtitle {
  font-size: min(3.5vw, 28px);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 15px;

  @include mq(pc) {
    margin-bottom: 30px;
  }
}

.mv__text-bg-color {
  background-color: #fff;
}

.mv__text-p {
  font-size: min(11vw, 90px);
  color: #0485d2;
}

.mv__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  width: 70%;
  height: 410px;
  border-radius: 0 0 0 50px;
  background: url(../img/bg_mv.jpg) no-repeat center center / cover;
  animation: 1s fadeInMvImg 0.3s forwards;

  @include mq(tab) {
    height: 500px;
  }

  @include mq(pc) {
    height: 680px;
    border-radius: 0 0 0 90px;
  }
}

@keyframes fadeInMvImg {
  100% {
    opacity: 1;
  }
}

.mv__btn .btn {
  width: 220px;
  @include mq(pc) {
    width: 370px;
  }
}

/*--------------------------------
case
---------------------------------*/

.case {
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  @include mq(pc) {
    margin-top: 15px;
  }

  &__inner {
    margin-inline: auto;
    padding-inline: 20px;
    @include mq(pc) {
      max-width: calc(960px + 40px * 2);
    }
  }

  &__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1; /* 18px */
    letter-spacing: 1.8px;

    &::before,
    &::after {
      content: "";
      height: 3px;
      background: $main-color;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }

    &::before {
      margin-right: 20px;

      @include mq(tab) {
        margin-left: 66px;
        margin-right: 30px;
      }
      @include mq(pc) {
        margin-right: 37px;
        margin-left: 37px;
      }
    }

    &::after {
      margin-left: 20px;
      @include mq(tab) {
        margin-right: 75px;
        margin-left: 30px;
      }
      @include mq(pc) {
        margin-right: 37px;
        margin-left: 37px;
      }
    }

    @include mq(tab) {
      font-size: 28px;
      letter-spacing: 2px;
    }
    @include mq(pc) {
      font-size: 32px;
    }
  }
  &__items {
    text-align: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px 15px;

    @include mq(tab) {
      transition: all 0.3s;
      margin-top: 45px;
    }

    @include mq(pc) {
      /*  grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 60px 60px;*/
      grid-template-columns: repeat(4, 1fr);
      gap: 26px 40px;
      margin-top: 50px;
    }

    img {
      width: 80%;

      @include mq(tab) {
        max-width: 70%;
      }

      @include mq(pc) {
        max-width: 100%;
      }
    }
  }
}

/*--------------------------------
 イントロ
---------------------------------*/

.intro {
  margin-top: -20px;
  padding: 0 20px;
}

.intro__title {
  font-size: 54px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  color: #0485d2;
  text-align: center;

  @include mq(pc) {
    font-size: 106px;
    margin-bottom: 10px;
  }
}

.intro__title-br {
  @include mq(tab) {
    display: none;
  }
}

.intro__subtitle {
  line-height: initial;
  margin-top: 7px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-align: center;
  margin-bottom: 50px;

  span {
    color: #0485d2;
  }

  @include mq(pc) {
    font-size: 32px;
  }
}

.intro__text {
  max-width: 720px;
  text-align: left;
  margin: 0 auto;
  font-size: 15px;
  letter-spacing: 1;
  line-height: 1.8;

  @include mq(tab) {
    font-size: 16px;
  }
  @include mq(pc) {
    text-align: center;
  }
}

.sp-hidden {
  display: none;
}

/*--------------------------------
compare table
---------------------------------*/

.compare {
  background: #fff;

  &__contents {
    padding-bottom: 38px;
    margin-top: 42px;
    overflow-x: auto; /*横向きの(X)画面サイズより大きくなった場合は見えなくするという意味 */
  }

  &__table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 900px;
    margin-inline: auto;

    @include mq(pc) {
    }
    width: 1100px;
  }

  td,
  th {
    text-align: center;
    vertical-align: middle;
    height: 60px;
    // font-weight: 500;
    @include mq(pc) {
      height: 100px;
    }

    &:nth-child(1) {
      font-weight: 600;
      width: 100px;

      @include mq(pc) {
        width: 160px;
      }
    }

    &:nth-child(2) {
      // width: 320px;
      // letter-spacing: 0.48px;
      font-weight: 600;
      background: #d9edf8;

      @include mq(pc) {
        // font-size: 16px;
        // letter-spacing: 0.75px;
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      background: #f5f9f9;
    }
  }

  th {
    @include mq(pc) {
      font-size: 25px;
    }
  }

  td {
    font-size: 14px;
    letter-spacing: 0.42px;

    @include mq(pc) {
      font-size: 16px;
      letter-spacing: 0.48px;
    }
  }
  span {
    font-family: Arial, sans-serif;
    font-size: 20px;

    @include mq(pc) {
      font-size: 25px;
    }
  }

  thead {
    th {
      letter-spacing: 1.6px;
      @include mq(pc) {
        letter-spacing: 2px;
      }
    }
  }
  tbody {
    tr {
      border-top: 1.5px solid #000;
      @include mq(pc) {
      }
    }
  }

  .span {
    font-size: 25px;
  }

  &__attention {
    color: #686868;
    font-size: 14px;
    font-weight: 700;
    line-height: 1; /* 14px */
    text-align: center;
    margin-top: 11px;

    @include mq(pc) {
      display: none;
    }
  }
}

/*--------------------------------
.about
---------------------------------*/

.about__container {
  @include mq(pc) {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.about__list {
  display: grid;
  row-gap: 40px;

  @include mq(pc) {
    row-gap: 100px;
  }
}

.about-box {
  position: relative;
}

.about-box__img-wrapper {
  width: 100%;
  @include mq(pc) {
    width: 70%;
  }
}

.about-box__desc {
  position: relative;
  margin: -10px 20px;
  padding: 40px 30px 30px 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  @include mq(pc) {
    position: absolute;
    right: 20px;
    bottom: -20px;
    width: 555px;
    margin: 0;
    padding: 60px;
  }
}

.about-box--reverse {
  @include mq(pc) {
    display: flex;
    justify-content: right;

    .about-box__desc {
      left: 20px;
    }
  }
}

.about-box__subtitle {
  font-size: 18px;
  color: #0485d2;
  margin-bottom: 20px;

  @include mq(pc) {
    font-size: 24px;
  }
}

.about-box__subtitle--bp {
  color: $main-color;
}

.about-box__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 15px;

  @include mq(pc) {
    font-size: 22px;
  }
}

.about-box__text {
  font-size: 14px;
  line-height: 1.7;

  @include mq(pc) {
    font-size: 15px;
    line-height: 1.8;
  }
}

.about__btn {
  margin-top: 50px;
  padding: 0 20px;

  @include mq(pc) {
    margin-top: 70px;
  }
}

.about__results-box {
  margin-bottom: 20px;
}

.about__past,
.about__progress {
  display: inline-flex;
  align-items: flex-end;
  gap: 3px;
}

.about__progress {
  margin-top: 13px;

  @include mq(tab) {
    margin-top: 0;
  }
  .unit {
    color: #d02d72;
  }
}

/*--------------------------------
result 営業実績
---------------------------------*/

.results__list {
  padding-inline: 15px;
  position: relative;
  display: grid;
  margin-bottom: 20px;
  gap: 25px;

  @include mq(pc) {
    padding-inline: 0;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}
.results__box-wrapper {
  position: relative;
  margin-top: 30px;
}

.results__box--name {
  text-align: center;
  position: absolute;
  top: -24px;
  left: 50%;
  width: 200px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  padding: 13px 10px 9px;
  transform: translateX(-50%);
  border: 1.5px solid #fff;
  border-radius: 50px;
  background-color: $main-color;
  z-index: 1;
}

.results__box {
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
}

.results__image {
  img {
    width: 100%;
  }
}

.results__text-box {
  padding: 20px;
}

.results__past,
.results__progress {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 3px;
}

.results__past {
  color: $color-base;
}
.results__progress {
  color: #d02d72;
  margin-top: 20px;
}

.label {
  min-width: 40px;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  font-size: 11px;
  padding: 12px 4px 9px;
  border-radius: 2px;
  line-height: 0.5;
  font-weight: 600;
  color: #fff;
  background: #808080;

  &.is-past {
    padding: 12px 7px;
  }
  &.is-progress {
    background: #d02d72;
  }
}

.unit {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}

.price {
  font-family: Arial, sans-serif;
  display: inline-block;
  vertical-align: bottom;
  font-size: 35px;
  line-height: 0.8;
  font-weight: 600;
  text-align: left;
  padding-inline: 14px;

  &.is-wide {
    padding-inline: 0;
    font-size: 33px;
  }

  &.is-size {
    padding-inline: 0;
    font-size: 40px;
    font-weight: 600;
    color: #d02d72;
  }

  &.is-size-2 {
    padding-left: 9px;
    padding-right: 8px;
  }

  /*--------------------------------
 　aboutセクション用コード
---------------------------------*/
  &.is-wide-2 {
    padding-inline: 2px;
  }

  &.is-size-3 {
    padding-left: 4px;
    padding-right: 4px;
  }
}

/*--------------------------------
 principles 原則
---------------------------------*/

.accordion {
  margin-top: -20px;
}

.accordion__item {
  border-bottom: 1px solid #ccc;
}

.accordion__question {
  position: relative;
  font-weight: normal;
  padding: 20px 30px 15px 0;
  cursor: pointer;

  &::after {
    display: block;
    content: "expand_more";
    position: absolute;
    top: 50%;
    right: 0;
    font-family: "Material Icons Round";
    font-size: 24px;
    color: #0485d2;
    transform: translateY(-50%);
  }

  &.active::after {
    content: "expand_less";
  }
}

.accordion__answer {
  display: none;
  padding-bottom: 15px;

  &.active {
    display: block;
  }
}

.accordion__question-inner,
.accordion__answer-inner {
  display: flex;
  column-gap: 15px;
}

.accordion__label {
  flex: 0 0 25px;
  font-size: 26px;
  font-weight: bold;
  color: #0485d2;
  text-align: center;
  font-family: Arial, sans-serif;
}

.accordion__title {
  line-height: 1.5;
  letter-spacing: 0.7px;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 600;
}
.accordion__text {
  font-size: 15px;
  line-height: 1.7;
}

/*--------------------------------
 CTA
---------------------------------*/

.cta {
  padding-top: 20px;

  @include mq(pc) {
    padding-top: 40px;
  }
}

.cta__body {
  text-align: center;
  padding: 30px 10px;
  background-color: $main-color;
  @include mq(tab) {
    padding: 60px 20px;
  }

  @include mq(pc) {
    padding: 50px 20px;
  }

  &--type2 {
    background-color: #fff;
  }
}

.cta__title {
  line-height: 1.5;
  letter-spacing: 0.7px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;

  @include mq(tab) {
    font-size: 30px;
  }

  @include mq(pc) {
    font-size: 50px;
  }

  &--type2 {
    color: $main-color;
  }
}

.cta__btn {
  margin-top: 30px;

  @include mq(tab) {
    margin-top: 20px;
  }
}

/*--------------------------------
 フッター
---------------------------------*/

.footer {
  display: grid;
  color: #fff;
  padding: 50px 20px;
  background-color: #141414;
  place-items: center;
  @include mq(pc) {
    padding: 100px 20px;
  }
}
.footer__logo-img {
  width: 180px;

  @include mq(pc) {
    width: 250px;
  }
}

.page-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}

.page-top__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.3s;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  @include mq(pc) {
    width: 80px;
    height: 80px;
  }
}

.page-top__icon {
  font-size: 24px;
  color: #0485d2;

  @include mq(pc) {
    font-size: 48px;
  }
}

.page-top__link:hover {
  opacity: 0.8;
}
